@{
    ViewData["Title"] = "Validar Usuario";
    var toastMessage = TempData["ToastMessage"]?.ToString();
    var toastType = TempData["ToastType"]?.ToString(); // success, error, info, warning
}

<!-- Carga el script de SweetAlert -->
@section Scripts {

    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            Swal.fire({
                toast: true,
                position: 'top-end',
                icon: '@toastType',
                title: '@toastMessage',
                showConfirmButton: false,
                timer: 8000,
                timerProgressBar: true
            });
        </script>
    }
}

<br />
<br />
<br />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body text-center text-black">
                    <br />
                    <img src="/assets/img/logos/Logo Kerigma Music.png" alt="Logo Oficial" width="200" />
                    <br />
                    <h4>Validar Usuario Para Recuperar Contraseña</h4>
                </div>
                <div class="card-body">
                    <p class="text-center">Ingresa el correo electrónico del usuario a recuperar la contraseña.</p>
                    <p class="text-center text-muted">Recuerda: Mantener actualizada tu información.</p>
                    <br />
                    <form asp-action="ForgotPassword" method="post">
                        <div class="mb-3">
                            <strong><label for="email" class="form-label">Correo electrónico</label></strong>
                            <input type="email" name="email" class="form-control" required placeholder="Introduce tu correo" />
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Verificar Correo Electrónico</button>
                        <a href="/Home/Index" class="btn btn-secondary w-100 mt-3">Regresar al Inicio</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>